<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eggend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{107,112}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,132},{107,112}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend10.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,938},{473,310}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{473,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{357,232}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,56},{357,232}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,626},{479,310}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{479,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{485,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{485,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{485,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,314},{483,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{483,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{483,310}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{483,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{479,310}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{479,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{477,310}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{477,310}}</string>
                <key>sourceSize</key>
                <string>{487,320}</string>
            </dict>
            <key>eggstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,626},{57,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{57,67}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1933},{81,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,99}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{83,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,105}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{79,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,101}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1830},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{69,91}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1723},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{69,89}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1923},{67,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{67,89}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1609},{67,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{67,89}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggstart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,938},{63,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{63,89}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>eggtemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,695},{51,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,68}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d9c771d79bdcb87973c87f4b6686fd:1/1$</string>
            <key>textureFileName</key>
            <string>egg.png</string>
        </dict>
    </dict>
</plist>
