<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flowerend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,378},{182,183}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{182,183}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{220,177}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{220,177}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,169}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{222,169}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend12.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,241},{158,151}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{158,151}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend13.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{134,135}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,38},{134,135}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,366},{188,183}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{188,183}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,193},{196,185}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{196,185}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,187},{202,189}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{202,189}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{206,189}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{206,189}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{210,181}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{210,181}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,181},{212,183}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{212,183}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{216,183}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{216,183}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{216,183}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{216,183}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>flowerstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,181},{133,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{133,5}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart10.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,551},{125,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{125,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,551},{125,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{125,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,181},{47,5}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{47,5}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,366},{39,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{39,39}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,541},{85,83}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{85,83}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{125,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{125,101}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,138},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{125,101}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,481},{125,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{125,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,394},{125,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{125,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowerstart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,380},{125,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{125,99}}</string>
                <key>sourceSize</key>
                <string>{133,107}</string>
            </dict>
            <key>flowertemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,380},{69,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{69,90}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2a62750abcdbacf3c6e5fb493f056f:1/1$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
