<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoeend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,426},{158,119}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{158,119}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,684},{172,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{172,165}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,350},{190,161}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{190,161}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,171},{196,177}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{196,177}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{206,167}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{206,167}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,177}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{208,177}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{184,167}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{184,167}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,513},{184,169}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{184,169}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{184,169}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{184,169}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoeend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{190,169}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{190,169}}</string>
                <key>sourceSize</key>
                <string>{238,185}</string>
            </dict>
            <key>shoestart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{52,18}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,94},{52,18}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>shoestart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,320},{52,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,104}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>shoestart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,214},{52,104}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,104}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>shoestart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,108},{52,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,104}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>shoestart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{52,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,104}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>shoetemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{52,104}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,104}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoe.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869b8fb94bf77f4c477d3ab1932f4b0a:1/1$</string>
            <key>textureFileName</key>
            <string>shoe.png</string>
        </dict>
    </dict>
</plist>
