<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,344},{290,178}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,97},{290,178}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,290},{254,278}}</string>
                <key>offset</key>
                <string>{-33,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,78},{254,278}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,656},{286,290}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,51},{286,290}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{306,310}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{306,310}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,340}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{340,340}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{288,296}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{288,296}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{270,286}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,70},{270,286}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,290},{270,286}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,70},{270,286}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{270,286}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,70},{270,286}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,578},{268,286}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,70},{268,286}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>bombtemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{55,69}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{55,69}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621aad28dabcd2c96fb34acd3e51f08d:1/1$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
