<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zanend1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1243},{195,195}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{195,195}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{313,313}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{313,313}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,327},{323,317}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{323,317}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{323,323}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{323,323}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{325,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,325}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,325}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{321,321}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{321,321}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend7.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,329},{319,317}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{319,317}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend8.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,648},{315,315}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{315,315}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanend9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{315,315}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{315,315}}</string>
                <key>sourceSize</key>
                <string>{325,325}</string>
            </dict>
            <key>zanstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{213,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{213,122}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,963},{239,140}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{239,140}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,965},{237,144}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{237,144}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1111},{221,146}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{221,146}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1105},{223,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{223,148}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1154},{221,148}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{221,148}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{233,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{233,150}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,963},{189,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{189,138}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zanstart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1255},{189,120}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{189,120}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>zantemp.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,646},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zan.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:222c318c5c04ab22a82eda466ece1b0c:1/1$</string>
            <key>textureFileName</key>
            <string>zan.png</string>
        </dict>
    </dict>
</plist>
